<component name="ArtifactManager">
  <artifact type="war" name="MyBatis_04_DynamicSQL:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="MyBatis_04_DynamicSQL.war">
      <element id="artifact" artifact-name="MyBatis_04_DynamicSQL:war exploded" />
    </root>
  </artifact>
</component>